<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
  <head>
    <title th:text="#{email.creation.title}">CPHBOX creation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
  </head>
  <body>
    <p th:text="#{email.activation.greeting(${user.firstName}+' '+${user.lastName})}">Bonjour</p>
    <p th:text="#{email.creation.user.text1}">Votre compte a bien été créé</p>
    <p>
      <span th:text="#{email.activation.text2}">Cordialement, </span>
      <br /><br />
      <em th:text="#{email.signature}">Equipe.</em>
    </p>
  </body>
</html>
