<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
  <head>
    <title th:text="#{email.reset.title}">JHipster password reset</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
  </head>
  <body>
    <p th:text="#{email.reset.greeting(${user.firstName}+' '+${user.lastName})}">Bonjour</p>
    <p th:text="#{email.reset.text1}">Deamnde de changement de mot d epasse</p>
    <p>
      <a th:with="url=(@{|${baseUrl}/account/reset/finish?key=${user.resetKey}|})" th:href="${url}" th:text="${url}">Login link</a>
    </p>
    <p>
      <span th:text="#{email.reset.text2}">Cordialement, </span>
      <br /><br />
      <em th:text="#{email.signature}">Equipe.</em>
    </p>
  </body>
</html>
